/**
 * NORMALIZE HTML5 TAGS FOR IE
 */
article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

a img {
  border: none;
}

/**
 * RESET MARGINS AND PADDINGS
 */
* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased !important;
}

/**
 * THE CLEARFIX HACK
 */
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}
